body {
  margin: 0;
  font-family: sans-serif;
  background: #d9f99d;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #4d7c0f;
}

.card {
  background: #f7fee7;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  text-align: center;
}

#character {
  font-size: 100px;
  margin: 20px 0;
}

#status {
  font-size: 24px;
  font-weight: bold;
  color: #4d7c0f;
}

.gauge-area {
  margin-top: 20px;
}

.gauge {
  width: 100%;
  height: 25px;
  background: #d9f99d;
  border-radius: 999px;

  overflow: hidden;
}

#gauge-fill {
  width: 70%;
  height: 100%;
  background: #65a30d;

  transition: 0.3s;
}

#humidity-text {
  margin-top: 10px;
  font-weight: bold;
}

button {
  margin-top: 20px;

  width: 100%;
  border: none;

  padding: 15px;

  border-radius: 20px;

  background: #84cc16;
  color: white;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
}

button:hover {
  background: #65a30d;
}
